/*reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/fundo.jpg');
    background-size: auto 100vh;
    font-family: 'Source Code Pro', monospace;
    height: 100vh;
    font-size: 12px; 
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos*/
@media (min-width: 400px) {
    body {
        font-size:14px; 
    }
}

@media (min-width: 600px) {
    body {
        font-size:18px; 
    }
}

header {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
}
.menu ul {
    display: flex;
    justify-content: space-around;
}
.menu li {
    list-style: none;
}

.menu a {
    display: block;
    padding: 10px 20px;
}
a {
    color : teal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: whitesmoke;
    text-align: center;
    
}

.site-title {
    font-size: 4em;
    font-family: 'Montserrat', sans-serif;    
}

.site-subtitle{
    font-style: italic;
    line-height: 1.8em;
    font-family: 'Roboto', cursive;
}

@media (min-width: 1200px ) {
    .img-portfolio {
        width: 100%;
        height: auto;
    }
}

.img-portfolio {
    width: 240px;
    height: 180px;
    object-fit: cover;
    border-radius: 0.5%;
}

.portfolio {
    padding: 2em;
    height: 100vh;
}

.portfolio h2 {
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif; 
    margin-bottom: 1.5em;
    font-size: 2em;
}

.portfolio figure {
    text-align: center;
}


@media (min-width: 560px){

    .portfolio .grid {
        grid-template-columns: 240px 240px;
    
    }
}

@media (min-width: 880px){

    .portfolio .grid {
        grid-template-columns: repeat(3, 240px);
        align-content: space-evenly;
        justify-content: space-evenly;
        height: calc(100vh - 8em - 44px );
    }
}

.portfolio .grid {
    display: grid;
    gap: 1em;

}